<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/manager/managerLogin.css">
</head>
<style>

#otpnum{
    margin-top: 13px;
}
</style>
<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h1>Library Manager</h1><br>
            <h2> Login Page</h2><br>
            <p>Manager login here to access their profile</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <% if(messages.error){ %>
                <div class="alert alert-danger" style="margin-bottom: 1em !important; display: inline-block;">
                    <%= messages.error %></div>
                <%}%>
                <form action="/manager/otpget" method="POST" id="otpnum">
                    <div class="form-group">
                        <label>Enter the OTP number</label>
                        <input type="number" class="form-control" name="otp" placeholder="otp" required>
                    </div>
                    <button type="submit" class="btn btn-black">submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
</body>
</html>